*{
    margin:0px auto;
    padding:0px;
    box-sizing: border-box;
}
body{
    font-family:sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
#wrapper{
    width: 100%;
    position: relative;
}
header img{
    width: 160px;
    height: auto;
}
h1 {
    font-size: xx-large;
    text-align: center;
}
nav{
    border-bottom: 2px solid teal;
    display: flex;
    justify-items: center;
    justify-content: space-between;
    
}
nav ul{
    list-style: none;
    padding: 10px 0px;
    margin-left: 30px;
}
.homelogo{
    width: 20px; height:auto; position:absolute; top:-17px; left:-20px
}
nav ul li{
    display: inline-block;
    padding-right: 20px;
    position: relative;
}
nav ul li a{
    font-family: sans-serif;
    text-decoration: none;
    color: #004080;
   
}
nav ul li ul.dropdown{
    display: none;
    position: absolute;
    margin-left: 0px;
    width: 200px;
    background-color: #f8f8f8;
}
nav ul li ul li{
    display: block;
    padding: 8px 5px;
}
nav ul li:hover ul.dropdown{
    display: block;
}
nav ul li ul li:hover{
    background-color: #e8e8e8;
    
    border-bottom: 1px solid teal;
}
nav ul button{
    color: #004080;
    width: 80px;
    height: 22px;
    margin: 1px;
    background-color: #f8f8f8;
}
nav ul :placeholder-shown{
    width: 160px;
    height: 20px;
    margin: 1px;
    margin-left: 600px;
    border-radius: 1%;
}
a {
    text-decoration: none;
    color: black;
    font-size: 13px;
}
h1 {
    margin: 20px 0 20px;
    font-size: 60px;
}
h2 {
    margin: 20px 10px 20px 30px;
    font-size:30px ;
}

.zoom {
    transition: all 0.3s ease ;  
}
.zoom:hover {
    transform: scaleX(1.01);
}
.sidebar2 img {
    border: 1px solid black;
    width: 150px;
    float: left;
  
}
.sidebar1 img {
    width: 140px;
  
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.container {
    display: flex;
    justify-content: space-between;
    width:100% ;
    margin:0 auto;
    margin-bottom: 20px;
}
.col1 {
    width: 75%; 
    border: 1px solid #ccc;
    padding: 10px; 
}
.up, .down {
    display: flex;
    justify-content: space-between;
    width:98% ;
    margin-bottom: 50px;
}
.down {
    display: flex;
    flex-direction: column;
}
.main-conten {
    width: 95%; 
    
    padding: 5px;
}
.main-conten img {
    width:700px ;
    margin: 20px 20px 20px 55px;
   
}
.tin-phu {
     
    border: 1px solid #ccc;
    padding: 5px; 
    overflow: hidden;
}
.bai-bao-nho {
    clear: both;
    align-items: center;
    margin: 20px 0px 0px 10px;
}
.bai-bao-nho .image img {
    width: 140px;
    margin:10px 10px 20px 0px ;
    

}

.bai-bao-nho .tieu-de {
    overflow: hidden;  
    margin: 10px; 
}
.tin-phu-2  img {
    width: 250px;
    margin: 10px;
} 
.tin-phu-2 .image {
    float: left;
    margin-right: 5px;
}
.tin-phu-2 .tieu-de {
    overflow: hidden;
    margin: 10px;
}
.tin-phu-2 .tieu-de p {
 margin-left: 30px;
 margin-right: 20px;
}
.tin-phu-2 {
    clear: both;
    align-items: center;
}
.col2 {
    margin-top: ;
    width: 25%; 
    border: 1px solid #ccc;
    position: relative;
  
}

.col2 { 
    display: flex;
    flex-wrap: wrap; /* Cho phép các phần tử xuống dòng khi không đủ không gian */
    justify-content: space-between; 
}
.col2 .bai-bao-nho {
    flex: 0 0 calc(1% - 10px); /* Phần trăm chiếm của mỗi phần tử, trừ đi khoảng cách giữa chúng */
    margin-bottom: 1px; /* Khoảng cách dưới của mỗi phần tử */
    box-sizing: border-box;
}
.sidebar2 {
    display: flex;
    width:98% ;
    margin:0 auto;
    margin-bottom: 10px;
    flex-direction: column;
    margin-top: 10px;
} 





